<TreeBlazor Nodes="NewItems" ChildSelector="node => node.Childs" @bind-SelectedNode="selectedNode" @bind-ExpandedNodes="ExpandedNodes" HasChildNodes="node => node.Childs?.Any() == true" NodeDisabled="node => node.Disabled">
    <TitleTemplate>@context.Text</TitleTemplate>
</TreeBlazor>

<p style="margin-top: 2rem">
    Selected: @selectedNode?.Text<br />
    Expanded: @string.Join(", ", ExpandedNodes.Select(i => i.Text))<br />
</p>

@code {

    protected override void OnInitialized()
    {
        //NewItems = new[]
        //{
        //        new Item { Text = "Item 1" },
        //        new Item
        //        {
        //            Text = "Item 2",
        //            Childs = new[]
        //{
        //        new Item { Text = "Item 2.1" },
        //        new Item { Text = "Item 2.2", Disabled = true, Childs = new []
        //    {
        //            new Item { Text = "Item 2.2.1" },
        //            new Item { Text = "Item 2.2.2", Disabled = true },
        //            new Item { Text = "Item 2.2.3" },
        //            new Item { Text = "Item 2.2.4" }

        //        } },
        //        new Item { Text = "Item 2.3" },
        //        new Item { Text = "Item 2.4" }

        //    }
        //        },
        //        new Item { Text = "Item 3" },
        //        new Item
        //        {
        //            Text = "Item 4",
        //            Childs = new[]
        //{
        //        new Item { Text = "Item 4.1" },
        //        new Item { Text = "Item 4.2", Childs = new []
        //    {
        //            new Item { Text = "Item 4.2.1" },
        //            new Item { Text = "Item 4.2.2" },
        //            new Item { Text = "Item 4.2.3", Disabled = true },
        //            new Item { Text = "Item 4.2.4" }
        //        } },
        //        new Item { Text = "Item 4.3" },
        //        new Item { Text = "Item 4.4" }
        //    }
        //        },
        //        new Item { Text = "Item 5" },
        //        new Item { Text = "Item 6" },
        //    };

        string JsonDS = "{ " +
                        "\"firstName\": \"John\", " +
                        "\"lastName\": \"Smith\", " +
                        "\"isAlive\": true, " +
                        "\"age\": 25, " +
                        "\"company\": null, " +
                        "\"height_cm\": 167.64, " +
                        "\"address\": { " +
                            "\"streetAddress\": \"21 2nd Street\", " +
                            "\"city\": \"New York\", " +
                            "\"state\": \"NY\", " +
                            "\"postalCode\": \"10021 -3100\" " +
                        "}, " +
                        "\"phoneNumbers\": [ " +
                            "{ " +
                                "\"type\": \"home\", " +
                                "\"number\": \"212 555-1234\" " +
                            "}, " +
                            "{ " +
                                "\"type\": \"fax\", " +
                                "\"number\": \"646 555-4567\" " +
                            "} " +
                        "] " +
                    "}";

        SetObjectAsJson(JsonDS);

        ExpandedNodes.Add(NewItems.First());
        //ExpandedNodes.Add(NewItems.Skip(1).Take(1).First().Childs.Skip(1).First());
    }
}